<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Join Group</title>
</head>
<body>
	<h2>Join a Group</h2>
	<form method="POST">
	    	<label for="group_id">Select Group:</label>
	    	<select id="group_id" name="group_id" required>
			{% for group in groups %}
		    	<option value="{{ group[0] }}">{{ group[1] }}</option>
			{% endfor %}
	    	</select><br>

	    	<button type="submit">Join Group</button>
	</form>
</body>
</html>

